body { 
	margin:0; 
 	padding:0; 
}

#map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}

.leaflet-popup-content {
	margin: 1px 4px;
}

@media (orientation: landscape) {

	#sidebar {
		position: absolute;  
		top: 0;
		width: 35%;
		background: rgba(255,255,255,0.8);
		border-radius: 4px;
	}

}


@media (orientation: portrait) {

	#sidebar {
		position: absolute;  
		bottom: 0; 
		height: 30%;
		width: 100%;
		background: rgba(255,255,255,0.8);
		border-radius: 4px;
	}

}


