body { 
	margin:0; 
 	padding:0; 
}

#map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}

.leaflet-popup-content {
	margin: 1px 4px;
}

#districtTitle {
	font-size: 3em;
	/*font-weight: bold;*/
	color: white;
}

#districtTitleContainer {
	background-color: #505555;
}

#districtNumber {
	font-size: 3em;
	font-weight: bold;
	color: white;
}

#districtNumberContainer {
	background-color: #C4222A;
}

#storyTitle {
	font-size: 1.5em;
	font-weight: bold;
	color: #C4222A;
}

@media (orientation: landscape) {

	#sidebar {
		position: absolute;  
		top: 0;
		width: 35%;
		background: rgba(255,255,255,0.8);
		border-radius: 4px;
		padding-left: 16px;
	}

}


@media (orientation: portrait) {

	#sidebar {
		position: absolute;  
		bottom: 0; 
		height: 30%;
		width: 100%;
		background: rgba(255,255,255,0.8);
		border-radius: 4px;
		padding-left: 6px;
	}

}

.leaflet-popup-content {
	font-size: 1.2em;
}


