body { 
	margin:0; 
 	padding:0; 
}

#map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}

.leaflet-popup-content {
	margin: 1px 4px;
}

#districtTitle {
	font-size: 3em;
	/*font-weight: bold;*/
	color: white;
}

#districtTitleContainer {
	background-color: #505555;
}

#districtNumber {
	font-size: 3em;
	font-weight: bold;
	color: white;
}

#districtNumberContainer {
	background-color: #C4222A;
	text-align: center;
}

#storyTitle {
	font-size: 1.5em;
	font-weight: bold;
	color: #C4222A;
}

.sidebarField {
	font-weight: bold;
}

#sidebarFooter {
	background-color: inherit /*#DF5330*/;
	height: 15px;
}

.fieldValue {
	font-size: 1.5em;
}

.logoGreen {
	color: #238594;
}

.logoRed {
	color: #C4222A;
}

.logoOrange {
	color: #DF5330;
}

.logoDarkGray {
	color: #505555;
}
.alignRight {
	text-align: right;
}

.alignLeft {
	text-align: left;
}

.alignCenter {
	text-align: center;
}

#countyHeader {
	color: gray;
	font-size: 0.8em;
}

.tableHeader {
	font-size: 0.8em;
}

.tableValue {
	font-weight: bold;
}
@media (orientation: landscape) {

	#sidebar {
		position: absolute;  
		top: 0;
		width: 40%;
		background: rgba(255,255,255,0.8);
		border-radius: 4px;
		padding-left: 16px;
	}

}


@media (orientation: portrait) {

	#sidebar {
		position: absolute;  
		bottom: 0; 
		height: 35%;
		width: 100%;
		background: rgba(255,255,255,0.8);
		border-radius: 4px;
		padding-left: 6px;
	}

}

.leaflet-popup-content {
	font-size: 1.2em;
}


