body { 
	margin:0; 
 	padding:0; 
}

#map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}

#sidebar {
 	position: absolute;
 	top: 0; 
	width: 400px;
	z-index: 2; 
	background-color: rgba(255,255,255,0.7);
 }

 #title {
 	text-align: center;
 }